@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>BeSafe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <section id="team" class="team" style="font-family: Open Sans, sans-serif; color: #444444;">
        <div class="container">

            <div class="section-title">
                <h2 style="font-family: Open Sans, sans-serif; color: #444444;">Team</h2>
                <p>The people that made this possible</p>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-8 d-flex align-items-stretch">
                    <div class="member">
                        <img src="https://scontent.fmnl3-1.fna.fbcdn.net/v/t1.0-9/136759491_4282460808447185_960027511404277070_o.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_ohc=kc1LkmckvJwAX9EchOZ&_nc_ht=scontent.fmnl3-1.fna&oh=da6cf4ff80606d9d17526ea40db66db9&oe=60761D0B" alt="">
                        <h4 style="font-family: Open Sans, sans-serif; color: #444444;">Jan Dizon</h4>
                        <span>Lead Developer</span>
                        <!--
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                        </p>
                        -->
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 d-flex align-items-stretch">
                    <div class="member">
                        <img src="https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-9/56726557_1455647354572025_5882931475447283712_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=IUzp2zGGbf0AX-yfkqv&_nc_ht=scontent.fmnl3-2.fna&oh=c2e7b87d1ece3ac59302472d87e28f7f&oe=60772509" alt="">
                        <h4 style="font-family: Open Sans, sans-serif; color: #444444;">Carlo Nepumeno</h4>
                        <span>UI Designer</span>
                        <!--
                        <p>
                           Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                        </p>
                        -->
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 col-md-8 d-flex align-items-stretch">
                    <div class="member">
                        <img src="https://scontent.fmnl3-4.fna.fbcdn.net/v/t1.0-9/120087025_3293179140767697_136169921782562755_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=xx2VPikolyMAX9LObht&_nc_ht=scontent.fmnl3-4.fna&oh=b115991c083bddfc9e3e2c6350c7dca6&oe=60774F50" alt="">
                        <h4 style="font-family: Open Sans, sans-serif; color: #444444;">Diana Nicole Supangan</h4>
                        <span>Support Developer</span>
                        <!--
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                        </p>
                        -->
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8 d-flex align-items-stretch">
                    <div class="member">
                        <img src="https://scontent.fmnl3-1.fna.fbcdn.net/v/t1.0-9/21034515_1367957193323092_4052456321327458192_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=174925&_nc_ohc=hV9l7yvPClAAX8lqKxE&_nc_ht=scontent.fmnl3-1.fna&oh=52a9e5ad22772259c5529ac086e06921&oe=607474ED" alt="">
                        <h4 style="font-family: Open Sans, sans-serif; color: #444444;">Darren Wu</h4>
                        <span>Support Developer</span>
                        <!--
                        <p>
                            Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                        </p>
                        -->
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="https://cdn.dribbble.com/users/1012997/screenshots/11893728/media/1fc544c552a36db729871565af9f9ed4.png?compress=1&resize=800x600" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <h3 style="font-family: Open Sans, sans-serif; color: #444444;">About Us</h3>
                    <p>
                        BeSafe is created to give everyone access to their essential and personal items, delivered to them safely. By ensuring that:
                    </p>
                    <ul>
                        <li><i class="fa fa-check"></i> Their packages is sanitized.</li>
                        <li><i class="fa fa-check"></i> They will have a contactless delivery.</li>
                    </ul>
                    <div class="row icon-boxes">
                        <div class="col-md-6">
                            <i class="fa fa-file-text-o"></i>
                            <h4 style="font-family: Open Sans, sans-serif; color: #444444;">Always stocked</h4>
                            <p>Your essentials will always be stocked ensuring accessability bto all your needs.</p>
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">
                            <i class="fa fa-envelope-o"></i>
                            <h4 style="font-family: Open Sans, sans-serif; color: #444444;">Prevention of CoVid-19 is our priority</h4>
                            <p>Everyone, especially the staff that would be physically handling your package is tested bi-weekly.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
</body>
